<mat-toolbar color="primary" *ngIf="this.appName">
    Logs : {{ appName }}
</mat-toolbar>

<div>
    <button mat-raised-button type="submit" class="button visualiser" [routerLink]="['/view']"
        [queryParams]="{ id: id}">
        Visualiser
    </button>
    <button mat-raised-button type="submit" class="button visualiser" [routerLink]="['/config']"
        [queryParams]="{ id: id}">
        Configurer
    </button>
    <button mat-raised-button type="submit" class="button applications" routerLink="/">Applications</button>
    <button mat-raised-button color="primary" (click)="goDown()">Descendre</button>
    Seul les 500 dernières lignes sont affichées
    <mat-spinner *ngIf="!this.logs"></mat-spinner>
    <app-log-highlight [code]="logs" language="log" *ngIf="this.logs"></app-log-highlight>
    <button mat-raised-button color="primary" (click)="goUp()">Retour en haut</button>
</div>