.container {
    padding: 10px;
}

.grid-item {
    border-radius: 5px;
    padding: 10px;
    min-width: 300px;
    height: auto;
    margin: 5px;
}

mat-card {
    min-width: 310px;
    max-width: 20em;
}

mat-spinner {
    margin: 5em auto;
}

.image {
    width: 22em;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}