<mat-toolbar color="primary">
  Livres
  <div style="flex: 1;"></div>
  <button mat-raised-button routerLink="/creer">Ajouter</button>
</mat-toolbar>

<mat-spinner *ngIf="!this.books"></mat-spinner>
<div fxLayout="row wrap" class="container" *ngIf="this.books">
  <div fxFlex *ngFor="let book of books">
    <div class="grid-item" fxLayout="row" fxLayoutAlign="center center">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{book.name}}</mat-card-title>
          <mat-card-subtitle>{{book.auteur}}</mat-card-subtitle>
        </mat-card-header>
        <img class="image" [src]="couverture(book.couvertureData)">
        <mat-card-content>
          <p class="description">
            {{book.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/read']" [queryParams]="{ name: book.name}">Lire</button>
          <button mat-button (click)="openDialog(book)">Fiche complète</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
