<mat-toolbar color="primary">
  <div class="headerContainer">
    Livres
    <div style="flex: 1;"></div>
    <button mat-raised-button routerLink="/creer">Ajouter</button>
  </div>
</mat-toolbar>

<mat-spinner *ngIf="!this.books"></mat-spinner>
<div class="container" *ngIf="this.books">
  <div *ngFor="let book of books" class="container-items">
    <div class="container-images">
      <img class="images" (click)="openDialog(book)" [src]="couverture(book.couvertureData)">
    </div>
    <div class="book-title-div">
      <mat-card-title class="book-title">{{book.name}}</mat-card-title>
    </div>
    <div>
      <mat-card-subtitle class="book-auteur">{{book.auteur}}</mat-card-subtitle>
    </div>
    <div>
      ★★★★★
    </div>
    <button mat-stroked-button class="afficher-button" (click)="openDialog(book)">AFFICHER</button>
  </div>
</div>