<mat-toolbar color="primary">
  Ajouter un livre
</mat-toolbar>

<div class="container main">
  <div class="container secondary" novalidate>
    <button mat-raised-button type="submit" class="button retour" routerLink="/">
      Retour
    </button>

    <form class="form" [formGroup]="createForm" (ngSubmit)="create()">
      <div>
        <h4>Informations :</h4>
        <mat-form-field class="form-element" appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Nom" formControlName="name">
        </mat-form-field>

        <mat-form-field class="form-element" appearance="fill">
          <mat-label>Auteur</mat-label>
          <input matInput placeholder="Auteur" formControlName="auteur">
        </mat-form-field>

        <mat-form-field class="form-element" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
            formControlName="description"></textarea>
        </mat-form-field>

        <!-- <mat-form-field class="form-element" appearance="fill">
          <mat-label>Contenu</mat-label>
          <textarea matInput placeholder="Contenu" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
            formControlName="contenu"></textarea>
        </mat-form-field> -->
      </div>

      <div (dragover)="onDragOver($event);dragZoneLivre.style.background='rgb(70,70,70)';"
        (dragleave)="dragZoneLivre.style.background='transparent';"
        (drop)="onDropSuccess($event, 'livre');dragZoneLivre.style.background='transparent';" #dragZoneLivre>
        <mat-list-item>
          <input type="file" class="file-input" (change)="preUpload($event, 'livre')" #livreUpload>
          <div>
            Livre
            <button mat-icon-button color="primary" class="upload-btn" (click)="livreUpload.click()" type="button">
              <mat-icon>upload_file</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </div>

      <div (dragover)="onDragOver($event);dragZoneCouverture.style.background='rgb(70,70,70)';"
        (dragleave)="dragZoneCouverture.style.background='transparent';"
        (drop)="onDropSuccess($event, 'couverture');dragZoneCouverture.style.background='transparent';"
        #dragZoneCouverture>
        <mat-list-item>
          <input type="file" class="file-input" (change)="preUpload($event, 'couverture')" #couvertureUpload>
          <div>
            Couverture
            <button mat-icon-button color="primary" class="upload-btn" (click)="couvertureUpload.click()" type="button">
              <mat-icon>upload_file</mat-icon>
            </button>
          </div>

        </mat-list-item>
      </div>
      <img *ngIf="this.url" src="{{this.url}}" class="image">

      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!createForm.valid">Créer
        </button>
      </div>

    </form>
  </div>
</div>