.spacer{
    flex: 1 1 auto;
}

.top{
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    z-index: 1000; 
}

.titre{
    text-decoration:none;
}

.titre:visited{
    color:inherit; 
}